<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=indlist.title%></title>
  </head>
  <body>
    <h3>Edit Your listing</h3>
    <form method="post" action="/listings/<%=indlist._id%>?_method=PUT">
      <p>
        Title:
        <input
          name="listing[title]"
          type="text"
          value="<%= indlist.title%>"
        />
      </p>

      <p>
        Description:<br />
        <textarea><%= indlist.description%></textarea>
      </p>

      <p>
        Image:
        <input name="listing[image]" value="<%=indlist.image%>" type="text" />
      </p>

      <p>
        Price:
        <input name="listing[price]" value="<%=indlist.price%>" type="number" />
      </p>

      <p>
        Location:
        <input
          name="listing[location]"
          value="<%=indlist.location%>"
          type="text"
        />
      </p>

      <p>
        Country:
        <input
          name="listing[country]"
          value="<%=indlist.country%>"
          type="text"
        />
      </p>
      <button>Enter</button>
    </form>
  </body>
</html>
