<% layout("/Layouts/boilerplate")%>

<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h5 class="h5">Edit Your listing</h5>
    <form method="post" action="/listings/<%=indlist._id%>?_method=PUT">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          type="text"
          value="<%= indlist.title%>"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" type="text" class="form-control">
<%=indlist.description%></textarea
        >
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image url/link</label>
        <input
          name="listing[image]"
          type="text"
          value="<%= indlist.image%>"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            type="number"
            value="<%= indlist.price%>"
            class="form-control"
          />
        </div>

        <div class="mb-3 col-8">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            type="text"
            value="<%= indlist.location%>"
            class="form-control"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          name="listing[country]"
          type="text"
          value="<%= indlist.country%>"
          class="form-control"
        />
      </div>
      <button class="btn btn-dark">Enter</button><br /><br />
    </form>
  </div>
</div>
