<% layout("/Layouts/boilerplate")%>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h5 class="h5-show">Listing Details</h5>
  </div>
  <div class="card-show col-6 offset-2">
    <img
      src="<%=details.image%>"
      class="card-img-top show-img"
      alt="details_image"
    />
    <div class="card-body">
      <h5 class="card-title" style="font-size: medium"><%=details.title%></h5><br>
      <div class="text" style="font-size: small">
        <p>
          <%= details.description %><br />
          <p> &#8377;<b><%=details.price%></b>/night</p>
          <%=details.location%><br />
          <%=details.country%>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <form method="get" action="/listings/<%=details._id%>/edit">
          <button class="btn btn-dark">Edit</button>
        </form>
      </div>
      <div class="col-3">
        <form method="post" action="/listings/<%=details._id%>?_method=DELETE">
          <button class="btn" style="background-color: red; color: white">
            Delete
          </button>
          <br /><br />
        </form>
      </div>
    </div>
  </div>
</div>
